<h4>Log In to A&M Checkmate</h4><br />

<%= form_tag sessions_path do %>

	<div class="control-group">
    <%= label_tag :username %>
    <div class="controls">
      <%= text_field_tag :username, params[:username] %>
    </div>
  </div>

	<div class="control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="actions"><%= submit_tag "Log In", class:"waves-effect waves-light btn green darken-1" %></div>

  <p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

<% end %>