<div class="row">
    <div class="col s8">    
    <% if @cart_items.empty? %>
        <h5>Cart is empty right now</h5>
    <% else %>
        <table class="striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @cart_items.each do |order_item| %>
                    <tr>
                        <td><%= order_item.item.name %></td>
                        <td><%= order_item.quantity %></td>
                        <td><%= link_to "Remove Item", remove_from_cart_path(order_item.item) %>
                    <tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="col s3 offset-s1">
        <h5>Subtotal: $<%= @subtotal %></h5>
        <h5>Shipping Costs: $<%= @shipping_costs %></h5>
        <h5>Total: $<%= @subtotal + @shipping_costs %></h5>
        <h5><%= link_to "Checkout", new_order_path %></h5>
    </div>

    <% end %>

</div>


