<div id="footer">
<div class="row">
    <div class="small-7 large-centered columns">
        <%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
        <%= link_to 'About the Chess Store', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
        <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
        <%= link_to 'Privacy Policy', privacy_path %>
        <br/>
        <br/>
        Webmaster: <%= mail_to("heram@andrew.cmu.edu", "Hera Miao", encode: "javascript") %>
    </div>
</div>
</div>