<% if @active_customers.empty? && @inactive_customers.empty?%>
    <h3>There are no available customers at this time</h3>
<% else %>
    <% unless @active_customers.empty? %>
        <h4>Active Customers</h4>
        <table class="striped">
            <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <% if logged_in? && current_user.role?(:admin) %>
                <th></th>
                <th></th>
            <% end %>
            </tr>
            </thead>

            <tbody>
            <% @active_customers.each do |active| %>
                <tr>
                <td><%= active.proper_name %></td>
                <td><%= active.email %></td>
                <td><%= active.phone %></td>
                <td><%= active.username %></td>
                <% if logged_in? && current_user.role?(:admin) %>
                    <td><%= link_to(edit_user_path(active, active: false), class: "waves-effect waves-light btn green darken-1") do %>
                        &nbsp;Make Inactive
                        <% end %></td>
                    <td><%= link_to "Edit", edit_user_path(active), class: "waves-effect waves-light btn green darken-1"%></td>
                <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% end %>

    <% unless @inactive_customers.empty? %>
        <h4>Inactive Customers</h4>
        <table class="striped">
            <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <% if logged_in? && current_user.role?(:admin) %>
                <th></th>
                <th></th>
            <% end %>
            </tr>
            <thead>

            <tbody>
            <% @inactive_customers.each do |inactive| %>
                <tr>
                <td><%= inactive.proper_name %></td>
                <td><%= inactive.email %></td>
                <td><%= inactive.phone %></td>
                <td><%= inactive.username %></td>
                <% if logged_in? && current_user.role?(:admin) %>
                    <td><%= link_to(edit_user_path(inactive, active: false), class: "waves-effect waves-light btn green darken-1") do %>
                        &nbsp;Make Inactive
                        <% end %></td>
                    <td><%= link_to "Edit", edit_user_path(active), class: "waves-effect waves-light btn green darken-1"%></td>
                <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% end %>
<% end %>
