<% if @active_employees.empty? && @inactive_employees.empty?%>
    <h3>There are no available employees at this time</h3>
<% else %>
    <% unless @active_employees.empty? %>
        <h4>Active Employees</h4>
        <table class="striped">
            <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <th>Role</th>
            <th></th>
            <th></th>
            </tr>
            </thead>

            <tbody>
            <% @active_employees.each do |active| %>
                <tr>
                <td><%= active.proper_name %></td>
                <td><%= active.email %></td>
                <td><%= active.phone %></td>
                <td><%= active.username %></td>
                <td><%= active.role %></td>
                <td><%= link_to(edit_user_path(active, status: 'deactivate_user'), class: 'button tiny radius secondary') do %>
                        &nbsp;Make Inactive
                        <% end %></td>
                <td><%= link_to "Edit", edit_user_path(active), class: 'button tiny radius secondary'%>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% end %>

    <% unless @inactive_employees.empty? %>
        <h4>Inactive Employees</h4>
        <table class="striped">
            <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <th>Role</th>
            <th></th>
            <th></th>
            </tr>
            <thead>

            <tbody>
            <% @inactive_employees.each do |inactive| %>
                <tr>
                <td><%= inactive.proper_name %></td>
                <td><%= inactive.email %></td>
                <td><%= inactive.phone %></td>
                <td><%= inactive.username %></td>
                <td><%= inactive.role %></td>
                <td><%= link_to(edit_user_path(inactive, status: 'activate_user'), class: 'button tiny radius secondary') do %>
                        &nbsp;Make Active
                        <% end %></td>
                <td><%= link_to "Edit", edit_user_path(inactive), class: 'button tiny radius secondary' %>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% end %>
<% end %>