<div class="row">
  <div class="small-7 columns">
     <h3><b><%= @user.proper_name %></b> (<%= @user.role %>)</h3>
  </div>
</div>

<br>

<p>Username: <%= @user.username %></p>

<br>

<p>Email: <%= @user.email %></p>

<br>

<p>Phone: <%= @user.phone %></p>

