<%= link_to "<Back", :back, class: "waves-effect waves-light btn green darken-1" %>
<div class="row">
  <div class="col s8">
     <h4><b><%= @user.proper_name %></b> (<%= @user.role %>)</h4>
  </div>
</div>

<br>

<p>Username: <%= @user.username %></p>

<br>

<p>Email: <%= @user.email %></p>

<br>

<p>Phone: <%= @user.phone %></p>

