<h4>Welcome <%= current_user.first_name %></h4>
<br>
<% if array.empty? %>
    <h4>There are no <%= title %> at this time</h4>
<% else %>
    <div class="row">
        <div class="small-9 columns">
        <h5><%= title %></h5>
        <% if current_user.role?(:shipper) %>
            <%= render partial: "shipper_dashboard" %>
        <% elsif current_user.role?(:customer) %>
            <%= render partial: "customer_dashboard" %>
        <% end %>
        </div>
    </div>
<% end %>

        
