<h3>Welcome <%= current_user.first_name %></h3>

<% if array.empty? %>
    <h2>There are no <%= title %> at this time</h2>
<% else %>
    <h5><%= title %></h5>
    <% if current_user.role?(:shipper) %>
        <%= render partial: "shipper_dashboard" %>
    <% elsif current_user.role?(:manager) %>
        <%= render partial: "manager_dashboard" %>
    <% end %>
<% end %>

        
