<%= link_to "<Back", :back, class: "waves-effect waves-light btn green darken-1"%>

<div class="row">
  <div class="small-12 columns">
     <h4>Order for <%= @order.school.name %></h4>
  </div>
</div>

<p>
  <b>Date Placed</b>: <%= @order.date %>
</p>

<p>
  <b>User</b>: <%= @order.user.proper_name %>
</p>

<p>
  <b>Grand Total</b>: <%= @order.grand_total.nil? ? 'N/A' : @order.grand_total %>
</p>

<p>
  <b>Payment Receipt</b>: <%= @order.payment_receipt.nil? ? 'N/A' : @order.payment_receipt %>
</p>

<p>
  <div class="col s4">
  <table class="striped">
    <tr><th>Order Items:</th></tr>
    <% @order_items.each do |order_item| %>
      <tr><td><%= link_to order_item.item.name, item_path(order_item.item) %></td></tr>
    <% end %>
  </table>
  </div>
</p>
