<div class="row">
  <div class="small-7 columns">
     <h3>Order for <%= @order.school.name %></h3>
  </div>
</div>

<br>

<p>
  <b>Date Placed</b>: <%= @order.date %>
</p>

<p>
  <b>User</b>: <%= @order.user.proper_name %>
</p>

<p>
  <b>Grand Total</b>: <%= @order.grand_total.nil? ? 'N/A' : @order.grand_total %>
</p>

<p>
  <b>Payment Receipt</b>: <%= @order.payment_receipt.nil? ? 'N/A' : @order.payment_receipt %>
</p>

<p>
  <b>Order Items</b>:
  <table>
    <% @order_items.each do |order_item| %>
      <tr><td><%= link_to order_item.item.name, item_path(order_item.item) %></td></tr>
    <% end %>
  </table>
</p>
