<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Order</legend>
 
      <%= f.input :school_id, collection: School.active.alphabetical.all, include_blank: true %>
      <%= "If school not in system, " %>

      <%= link_to(new_school_path(school_id: @order.school_id), id: 'new_school_link', class: 'button tiny radius', remote: true) do %>
        Add School
      <% end %>

		  <%= f.input :user_id, :as => :hidden, :input_html => {value: current_user.id} %>

      <%= f.input :credit_card_number %>
      <%= f.input :expiration_year %>
      <%= f.input :expiration_month %>

    <div class="form-actions">
      <%= f.submit nil, class: "waves-effect waves-light btn green darken-1" %>
      <%= link_to 'Cancel', :back, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>