<li>
    <%= render partial: "partials/nav/shop_items" %>
</li>
<li>
    <%= link_to "Create Account", new_user_path, class:"waves-effect waves-light btn green darken-2" %>
</li>
<li>
    <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
        <br>
        [<%= current_user.proper_name %>:<%= current_user.role %>]
    <% else %>
    <%= link_to 'Login', login_path %>
    <% end %>
</li>