<nav>
<div class="nav-wrapper">
  <%= link_to image_tag("logo.png"), home_path, class: "brand-logo" %>
  <ul class = "right">
    <% if logged_in? && current_user.role?(:shipper) %>
      <%= render partial: "partials/nav/user_nav/shipper" %>
    <% elsif logged_in? && current_user.role?(:manager) %>
      <%= render partial: "partials/nav/user_nav/manager" %>
    <% elsif logged_in? && current_user.role?(:admin) %>
      <%= render partial: "partials/nav/user_nav/admin" %>
    <% elsif logged_in? && current_user.role?(:customer) %>
      <%= render partial: "partials/nav/user_nav/customer" %>
    <% else %>
      <%= render partial: "partials/nav/user_nav/guest" %>
    <% end %>

    <li>
      <% if logged_in? %>
          <%= link_to 'Logout', logout_path, class:"waves-effect waves-light btn green darken-2" %>
      <% else %>
        <%= link_to 'Login', login_path, class:"waves-effect waves-light btn green darken-2" %>
      <% end %>
    </li>
  </ul>
</div> 
</nav>




