<li class="has-dropdown">
<%= link_to "Edit" %>
<ul class="dropdown">
<li><%= link_to "Edit Customer", customer_index_path %></li>
<li><%= link_to "Edit Employee", employee_index_path %><li>
<li><%= link_to "Edit School", schools_path %></li>
<li><%= link_to "Edit Item", items_path %></li>
</ul>
</li>