<!-- options for items -->
<% if logged_in? && (current_user.role?(:shipper) || current_user.role?(:manager)) %>
    <li class="has-dropdown">
    <%= link_to "Items", items_path %>
    <ul class="dropdown">
    <li><%= link_to "Edit" %></li>
    <li><%= link_to "Add New" %></li>
    <li><%= link_to "View All" %></li>
    </ul>
</li>
<% else %>
    <li><%= link_to "Items", items_path %></li>
<% end %>