<li class="has-dropdown">
<%= link_to "Items", items_path %>
<ul class="dropdown">
<li><%= link_to "Boards", boards_path %></li>
<li><%= link_to "Pieces", pieces_path %></li>
<li><%= link_to "Clocks", clocks_path %></li>
<li><%= link_to "Supplies", supplies_path %></li>
</ul>
</li>