<div class="row">  
  <% if @boards.empty? %>
    <h5>There are no available boards at this time</h5>
  <% else %>
    <h4>Boards</h4>
    <br>
    <div class="col s8">
    <% @boards.each do |board| %>
      <div class="col s2 m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'img_not_available.png' %>
          </div>
          <div class="card-content">
            <ul>
              <li><%= link_to board.name, item_path(board) %></li>
              <li><%= number_to_currency board.current_price %></li>
            </ul>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn" href="#modal1">Add to cart</a>
            <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4><%= board.name %></h4>
                  <p>
                    <div class="input-field col s6">
                      <input id="quantity" type="int" class="validate">
                      <label for="quantity">Quantity</label>
                    </div>
                  </p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
                    <% if logged_in? %>
                      <%= link_to "Add to cart", add_to_cart_path(board) %>
                    <% else %>
                      <%= link_to "Add to cart", new_user_path %>
                    <% end %></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>

  <div id="side_nav_items">
    <h4>Other Items</h4>
    <ul>
      <li><%= link_to "Pieces", pieces_path %></li>
      <li><%= link_to "Clocks", clocks_path %></li>
      <li><%= link_to "Supplies", supplies_path %></li>
      <li><%= link_to "View All", items_path %></li>
    </ul>
  </div> 
</div>