<%= simple_form_for @order_item, html: { class: 'form-horizontal', multipart: true }, remote: true do |f| %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> Item</legend>
   
  <%= f.input :quantity %>
  <%= f.input :shipped_on %>

  <div class="form-actions">
    <%= f.submit nil, class: "waves-effect waves-light btn green darken-1" %>
    <%= link_to 'Cancel', home_path, class: "waves-effect waves-light btn red" %>
  </div>

  </fieldset>
<% end %>