<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Checkmate :: <%= controller.controller_name.capitalize %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <!-- From Materialize for icon usage -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <!-- navigation bar -->
    <nav>
      <%= render partial: "partials/nav/user_nav/nav_structure" %>
    </nav>

    <div id="login">
      <% if logged_in? %>
          <%= link_to 'Logout', logout_path %>
          <br>
          [<%= current_user.proper_name %>:<%= current_user.role %>]
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>

    <div id="container">
      <%= render :partial => "partials/flash" %>
      <%= yield %>
      <br>
    </div>

  </body>

  <footer>
      <%= render partial: 'partials/footer' %>
  </footer> 

  <%= javascript_include_tag "application" %>
  
</html>
